/* ? ###################################    SITE DESENVOLVIDO POR GAIA WEB DESIGN E PROGRAMAÇÃ ########## */
/* ? ###################################################################################################### */


/* Variáveis gerais ################################################# */

:root {
    --fonte-principal: "Poppins", sans-serif;
    --azul-principal: #204473;
    --branco-fundo: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* TODO ================ MOBILE / 490 PX ================================ */
/* TODO ================================================================= */

@media screen and (max-width: 490px) {
    body {
        overflow-x: hidden;
    }

    /* ------------------ HEADER -------------- */
    .container_header {
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: var(--branco-fundo);
    }

    .header_topo {
        display: none;
    }

    .header_menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 120px;
    }

    .header_logo img {
        max-height: 60px;
    }

    /* Estilos do menu hamburger */
    .menu-toggle {
        background: none;
        border: none;
        cursor: pointer;
        display: none;
        /* Só vai aparecer no mobile */
        z-index: 1001;
        /* Para ficar acima do menu */
    }

    .menu-icon {
        width: 25px;
        height: 3px;
        background-color: #002366;
        display: block;
        position: relative;
        transition: all 0.3s ease-in-out;
    }

    .menu-icon::before,
    .menu-icon::after {
        content: '';
        width: 25px;
        height: 3px;
        background-color: #002366;
        position: absolute;
        left: 0;
        transition: all 0.3s ease-in-out;
    }

    .menu-icon::before {
        top: -8px;
    }

    .menu-icon::after {
        top: 8px;
    }

    /* Transformar em X quando ativo */
    .menu-toggle.active .menu-icon {
        background-color: transparent;
    }

    .menu-toggle.active .menu-icon::before {
        transform: rotate(45deg);
        top: 0;
    }

    .menu-toggle.active .menu-icon::after {
        transform: rotate(-45deg);
        top: 0;
    }

    /* Estilos do menu */
    .menu {
        position: absolute;
        top: 120px;
        right: 0;
        background-color: var(--azul-principal);
        width: 100%;
        height: 50vh;
        display: none;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    .menu ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 2rem;
        list-style: none;
        width: 100vw;


    }

    .menu ul li a {
        color: var(--branco-fundo);
        text-decoration: none;
        text-transform: uppercase;
    }

    .menu-toggle {
        display: block;
        /* Mostra o ícone de menu hamburger no mobile */
    }

    .menu.active {
        display: flex;
    }

    /* Carrossl inicial  */
    .swiper {
        width: 100vw;
    }

    .swiper-caption {
        text-align: center;
        color: var(--azul-principal);
        font-size: 1.2rem;
        margin-top: 10px;
    }


    /* Apresentação fotos página inicial */
    .imagens_apresentacao_inicio {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        width: 100vw;
        align-items: center;
        row-gap: 1rem;
    }

    .imagens_apresentacao_inicio img {
        width: 75vw;
    }

    /* Container quem somos */
    .container_quemsomos {
        display: flex;
        flex-direction: column;
        background-image: url(./assets/background/bg_quemsomos.png);
        width: 100vw;

        align-items: center;
        justify-content: center;
    }

    .quemsomos_title {
        font-family: var(--fonte-principal);
        color: var(--branco-fundo);
        font-size: 32px;
        padding-top: 1rem;
    }

    .quemsomos_txt {
        font-family: var(--fonte-principal);
        color: var(--branco-fundo);
        font-size: 20px;
        text-align: left;
        width: 80vw;
        font-weight: 300;
    }

    .btn_quemsomos {
        border: 4px solid rgba(82, 193, 232, 0.32);
        background: rgba(18, 156, 204, 0.56);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: var(--branco-fundo);
        padding: 0.2rem 1.2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        font-family: var(--fonte-principal);
    }
    /* ============================== ITENS OCULTOS */
    .menu_desktop{
        display: none;
    }


    /* ===========================  carrossel de apresentação de produtos com legenda */

    .container_carrossel_produtos {
        flex-direction: column;
        width: 100vw; /* 90% da largura da tela */
        margin: 0 auto; /* Centraliza o carrossel */
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }
    .carrossel_produtos_title {
        font-family: var(--fonte-principal);
        color: var(--azul-principal);
        font-size: 24px;
        text-align: center;
        padding: 1rem 1.5rem;
        font-weight: 400;
    }
    
    .swiper2 {
        margin-top: 2rem;
        width: 100%; /* O carrossel vai ocupar todo o espaço do container */
        height: auto;
    }
    
    .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .swiper-slide img {
        max-width: 100%; /* Para garantir que a imagem ocupe toda a largura do slide */
        height: auto;
        object-fit: contain; /* Mantém a proporção da imagem */
    }
    
    .swiper2-legend {
        text-align: center;
        font-size: 18px;
        color: var(--azul-principal);
        font-family: var(--fonte-principal);
        margin-top: 10px; /* Espaçamento entre a imagem e a legenda */
    }
    .swiper2-pagination{
        display: flex;
        align-items: center;
        justify-content: center;
    }



    /* ==================================== CONTAINER ÚLTIMAS OBRAS ====================== */
    .container_ultimasobras {
        display: flex;
        flex-direction: column;
        background-image: url(./assets/background/bg_ultimasobras.png);
        width: 100vw;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }
    .logo_obras {
        width: 50px;
        padding-top: 3rem;
    }
    .ultimasobras_title {
        font-family: var(--fonte-principal);
        font-size: 22px;
        color: var(--branco-fundo);
        font-weight: 500;
    }
    .obras_local {
        text-transform: uppercase;
        font-family: var(--fonte-principal);
        color: var(--branco-fundo);
        text-decoration: underline;
        font-size: 18px;
        font-weight: 300;
    }
    .obras_imagens {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        row-gap: 1rem;
    }
    .obras_imagens img{
        width: 80vw;
        border: 2px solid var(--branco-fundo);
    }
}

/* TODO ======== MOBILE / 491 PX  ATÉ 768PX ============================== */
/* TODO ================================================================= */

@media only screen and (min-width: 491px) and (max-width: 768px) {
    /* ------------------ HEADER -------------- */
    body {
        overflow-x: hidden;
    }
    .container_header {
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: var(--branco-fundo);
    }

    .header_topo {
        display: none;
    }

    .header_menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 120px;
    }

    .header_logo img {
        max-height: 60px;
    }

    /* Estilos do menu hamburger */
    .menu-toggle {
        background: none;
        border: none;
        cursor: pointer;
        display: none;
        /* Só vai aparecer no mobile */
        z-index: 1001;
        /* Para ficar acima do menu */
    }

    .menu-icon {
        width: 25px;
        height: 3px;
        background-color: #002366;
        display: block;
        position: relative;
        transition: all 0.3s ease-in-out;
    }

    .menu-icon::before,
    .menu-icon::after {
        content: '';
        width: 25px;
        height: 3px;
        background-color: #002366;
        position: absolute;
        left: 0;
        transition: all 0.3s ease-in-out;
    }

    .menu-icon::before {
        top: -8px;
    }

    .menu-icon::after {
        top: 8px;
    }

    /* Transformar em X quando ativo */
    .menu-toggle.active .menu-icon {
        background-color: transparent;
    }

    .menu-toggle.active .menu-icon::before {
        transform: rotate(45deg);
        top: 0;
    }

    .menu-toggle.active .menu-icon::after {
        transform: rotate(-45deg);
        top: 0;
    }

    /* Estilos do menu */
    .menu {
        position: absolute;
        top: 120px;
        right: 0;
        background-color: var(--azul-principal);
        width: 100%;
        height: 50vh;
        display: none;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    .menu ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 2rem;
        list-style: none;
        width: 100vw;


    }

    .menu ul li a {
        color: var(--branco-fundo);
        text-decoration: none;
        text-transform: uppercase;
    }

    .menu-toggle {
        display: block;
        /* Mostra o ícone de menu hamburger no mobile */
    }

    .menu.active {
        display: flex;
    }

    /* Carrossl inicial  */
    .swiper {
        width: 100vw;
    }
    .swiper-slide img{
        width: 100%;
    }

    .swiper-caption {
        text-align: center;
        color: var(--azul-principal);
        font-size: 1.2rem;
        margin-top: 10px;
    }


    /* Apresentação fotos página inicial */
    .imagens_apresentacao_inicio {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        width: 100vw;
        align-items: center;
        row-gap: 1rem;
    }

    .imagens_apresentacao_inicio img {
        width: 75vw;
    }

    /* Container quem somos */
    .container_quemsomos {
        display: flex;
        flex-direction: column;
        background-image: url(./assets/background/bg_quemsomos.png);
        width: 100vw;

        align-items: center;
        justify-content: center;
    }

    .quemsomos_title {
        font-family: var(--fonte-principal);
        color: var(--branco-fundo);
        font-size: 32px;
        padding-top: 1rem;
    }

    .quemsomos_txt {
        font-family: var(--fonte-principal);
        color: var(--branco-fundo);
        font-size: 20px;
        text-align: left;
        width: 80vw;
        font-weight: 300;
    }

    .btn_quemsomos {
        border: 4px solid rgba(82, 193, 232, 0.32);
        background: rgba(18, 156, 204, 0.56);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: var(--branco-fundo);
        padding: 0.2rem 1.5rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        font-family: var(--fonte-principal);
    }
    /* ============================== ITENS OCULTOS */
    .menu_desktop{
        display: none;
    }

    /* ===========================  carrossel de apresentação de produtos com legenda */

    .container_carrossel_produtos {
        flex-direction: column;
        width: 100vw; /* 90% da largura da tela */
        margin: 0 auto; /* Centraliza o carrossel */
        display: flex;
        justify-content: center;
        
    }
    .carrossel_produtos_title {
        font-family: var(--fonte-principal);
        color: var(--azul-principal);
        font-size: 24px;
        text-align: center;
        padding: 1rem 1.5rem;
        font-weight: 400;
    }
    
    .swiper2 {
        margin-top: 2rem;
        width: 100%; /* O carrossel vai ocupar todo o espaço do container */
        height: auto;
    }
    
    .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .swiper-slide img {
        width: 100%; /* Para garantir que a imagem ocupe toda a largura do slide */
        height: auto;
        object-fit: contain; /* Mantém a proporção da imagem */
    }
    
    .swiper2-legend {
        text-align: center;
        font-size: 18px;
        color: var(--azul-principal);
        font-family: var(--fonte-principal);
        margin-top: 10px; /* Espaçamento entre a imagem e a legenda */
    }
    .swiper2-pagination{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* ==================================== CONTAINER ÚLTIMAS OBRAS ====================== */
    .container_ultimasobras {
        display: flex;
        flex-direction: column;
        background-image: url(./assets/background/bg_ultimasobras.png);
        width: 100vw;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }
    .logo_obras {
        width: 50px;
        padding-top: 3rem;
    }
    .ultimasobras_title {
        font-family: var(--fonte-principal);
        font-size: 22px;
        color: var(--branco-fundo);
        font-weight: 500;
    }
    .obras_local {
        text-transform: uppercase;
        font-family: var(--fonte-principal);
        color: var(--branco-fundo);
        text-decoration: underline;
        font-size: 18px;
        font-weight: 300;
    }
    .obras_imagens {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        row-gap: 1rem;
    }
    .obras_imagens img{
        width: 80vw;
        border: 2px solid var(--branco-fundo);
    }/* ==================================== CONTAINER ÚLTIMAS OBRAS ====================== */
    .container_ultimasobras {
        display: flex;
        flex-direction: column;
        background-image: url(./assets/background/bg_ultimasobras.png);
        width: 100vw;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }
    .logo_obras {
        width: 50px;
        padding-top: 3rem;
    }
    .ultimasobras_title {
        font-family: var(--fonte-principal);
        font-size: 22px;
        color: var(--branco-fundo);
        font-weight: 500;
    }
    .obras_local {
        text-transform: uppercase;
        font-family: var(--fonte-principal);
        color: var(--branco-fundo);
        text-decoration: underline;
        font-size: 18px;
        font-weight: 300;
    }
    .obras_imagens {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        row-gap: 1rem;
    }
    .obras_imagens img{
        width: 80vw;
        border: 2px solid var(--branco-fundo);
    }
}

/* TODO ======== TABLET / 769 PX  ATÉ 1023PX ============================= */
/* TODO ================================================================= */

@media only screen and (min-width: 769px) and (max-width: 1023px) {
    body {
        overflow-x: hidden;
    }
    /* ------------------ HEADER -------------- */
    .container_header {
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: var(--branco-fundo);
    }

    .header_topo {
        display: none;
    }

    .header_menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 120px;
    }

    .header_logo img {
        max-height: 60px;
    }

    /* Estilos do menu hamburger */
    .menu-toggle {
        background: none;
        border: none;
        cursor: pointer;
        display: none;
        /* Só vai aparecer no mobile */
        z-index: 1001;
        /* Para ficar acima do menu */
    }

    .menu-icon {
        width: 25px;
        height: 3px;
        background-color: #002366;
        display: block;
        position: relative;
        transition: all 0.3s ease-in-out;
    }

    .menu-icon::before,
    .menu-icon::after {
        content: '';
        width: 25px;
        height: 3px;
        background-color: #002366;
        position: absolute;
        left: 0;
        transition: all 0.3s ease-in-out;
    }

    .menu-icon::before {
        top: -8px;
    }

    .menu-icon::after {
        top: 8px;
    }

    /* Transformar em X quando ativo */
    .menu-toggle.active .menu-icon {
        background-color: transparent;
    }

    .menu-toggle.active .menu-icon::before {
        transform: rotate(45deg);
        top: 0;
    }

    .menu-toggle.active .menu-icon::after {
        transform: rotate(-45deg);
        top: 0;
    }

    /* Estilos do menu */
    .menu {
        position: absolute;
        top: 120px;
        right: 0;
        background-color: var(--azul-principal);
        width: 100%;
        height: 50vh;
        display: none;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    .menu ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 2rem;
        list-style: none;
        width: 100vw;


    }

    .menu ul li a {
        color: var(--branco-fundo);
        text-decoration: none;
        text-transform: uppercase;
    }

    .menu-toggle {
        display: block;
        /* Mostra o ícone de menu hamburger no mobile */
    }

    .menu.active {
        display: flex;
    }

    /* Carrossl inicial  */
    .swiper {
        width: 100vw;
    }

    .swiper-caption {
        text-align: center;
        color: var(--azul-principal);
        font-size: 1.2rem;
        margin-top: 10px;
    }


    /* Apresentação fotos página inicial */
    .imagens_apresentacao_inicio {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        width: 100vw;
        align-items: center;
        row-gap: 1rem;
    }

    .imagens_apresentacao_inicio img {
        width: 75vw;
    }

    /* Container quem somos */
    .container_quemsomos {
        display: flex;
        flex-direction: column;
        background-image: url(./assets/background/bg_quemsomos.png);
        width: 100vw;

        align-items: center;
        justify-content: center;
    }

    .quemsomos_title {
        font-family: var(--fonte-principal);
        color: var(--branco-fundo);
        font-size: 32px;
        padding-top: 1rem;
    }

    .quemsomos_txt {
        font-family: var(--fonte-principal);
        color: var(--branco-fundo);
        font-size: 20px;
        text-align: left;
        width: 80vw;
        font-weight: 300;
    }

    .btn_quemsomos {
        border: 4px solid rgba(82, 193, 232, 0.32);
        background: rgba(18, 156, 204, 0.56);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: var(--branco-fundo);
        padding: 0.2rem 1.5rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        font-family: var(--fonte-principal);
    }

    /* ============================== ITENS OCULTOS */
    .menu_desktop{
        display: none;
    }

    /* ===========================  carrossel de apresentação de produtos com legenda */

    .container_carrossel_produtos {
        flex-direction: column;
        width: 100vw; /* 90% da largura da tela */
        margin: 0 auto; /* Centraliza o carrossel */
        display: flex;
        justify-content: center;
        
    }
    .carrossel_produtos_title {
        font-family: var(--fonte-principal);
        color: var(--azul-principal);
        font-size: 24px;
        text-align: center;
        padding: 1rem 1.5rem;
        font-weight: 400;
    }
    
    .swiper2 {
        margin-top: 2rem;
        width: 100%; /* O carrossel vai ocupar todo o espaço do container */
        height: auto;
    }
    
    .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .swiper-slide img {
        width: 100%; /* Para garantir que a imagem ocupe toda a largura do slide */
        height: auto;
        object-fit: contain; /* Mantém a proporção da imagem */
    }
    
    .swiper2-legend {
        text-align: center;
        font-size: 18px;
        color: var(--azul-principal);
        font-family: var(--fonte-principal);
        margin-top: 10px; /* Espaçamento entre a imagem e a legenda */
    }
    .swiper2-pagination{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* ==================================== CONTAINER ÚLTIMAS OBRAS ====================== */
    .container_ultimasobras {
        display: flex;
        flex-direction: column;
        background-image: url(./assets/background/bg_ultimasobras.png);
        width: 100vw;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }
    .logo_obras {
        width: 50px;
        padding-top: 3rem;
    }
    .ultimasobras_title {
        font-family: var(--fonte-principal);
        font-size: 22px;
        color: var(--branco-fundo);
        font-weight: 500;
    }
    .obras_local {
        text-transform: uppercase;
        font-family: var(--fonte-principal);
        color: var(--branco-fundo);
        text-decoration: underline;
        font-size: 18px;
        font-weight: 300;
    }
    .obras_imagens {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        row-gap: 1rem;
    }
    .obras_imagens img{
        width: 80vw;
        border: 2px solid var(--branco-fundo);
    }
}

/* TODO ======== NOTEBOOK / 1024 PX  ATÉ 1200PX ============================ */
/* TODO ================================================================= */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    /* ------------------ HEADER -------------- */
    body {
        overflow-x: hidden;
    }
    .container_header {
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: var(--branco-fundo);
    }

    .header_topo {
        display: none;
    }

    .header_menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 120px;
    }

    .header_logo img {
        max-height: 60px;
    }

    /* Estilos do menu hamburger */
    .menu-toggle {
        background: none;
        border: none;
        cursor: pointer;
        display: none;
        /* Só vai aparecer no mobile */
        z-index: 1001;
        /* Para ficar acima do menu */
    }

    .menu-icon {
        width: 25px;
        height: 3px;
        background-color: #002366;
        display: block;
        position: relative;
        transition: all 0.3s ease-in-out;
    }

    .menu-icon::before,
    .menu-icon::after {
        content: '';
        width: 25px;
        height: 3px;
        background-color: #002366;
        position: absolute;
        left: 0;
        transition: all 0.3s ease-in-out;
    }

    .menu-icon::before {
        top: -8px;
    }

    .menu-icon::after {
        top: 8px;
    }

    /* Transformar em X quando ativo */
    .menu-toggle.active .menu-icon {
        background-color: transparent;
    }

    .menu-toggle.active .menu-icon::before {
        transform: rotate(45deg);
        top: 0;
    }

    .menu-toggle.active .menu-icon::after {
        transform: rotate(-45deg);
        top: 0;
    }

    /* Estilos do menu */
    .menu {
        position: absolute;
        top: 120px;
        right: 0;
        background-color: var(--azul-principal);
        width: 100%;
        height: 50vh;
        display: none;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    .menu ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 2rem;
        list-style: none;
        width: 100vw;


    }

    .menu ul li a {
        color: var(--branco-fundo);
        text-decoration: none;
        text-transform: uppercase;
    }

    .menu-toggle {
        display: block;
        /* Mostra o ícone de menu hamburger no mobile */
    }

    .menu.active {
        display: flex;
    }

    /* Carrossl inicial  */
    .swiper {
        width: 100vw;
    }

    .swiper-caption {
        text-align: center;
        color: var(--azul-principal);
        font-size: 1.2rem;
        margin-top: 10px;
    }


    /* Apresentação fotos página inicial */
    .imagens_apresentacao_inicio {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        width: 100vw;
        align-items: center;
        row-gap: 1rem;
    }

    .imagens_apresentacao_inicio img {
        width: 75vw;
    }

    /* Container quem somos */
    .container_quemsomos {
        display: flex;
        flex-direction: column;
        background-image: url(./assets/background/bg_quemsomos.png);
        width: 100vw;

        align-items: center;
        justify-content: center;
    }

    .quemsomos_title {
        font-family: var(--fonte-principal);
        color: var(--branco-fundo);
        font-size: 32px;
        padding-top: 1rem;
    }

    .quemsomos_txt {
        font-family: var(--fonte-principal);
        color: var(--branco-fundo);
        font-size: 20px;
        text-align: left;
        width: 80vw;
        font-weight: 300;
    }

    .btn_quemsomos {
        border: 4px solid rgba(82, 193, 232, 0.32);
        background: rgba(18, 156, 204, 0.56);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: var(--branco-fundo);
        padding: 0.2rem 1.5rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        font-family: var(--fonte-principal);
    }

    /* ============================== ITENS OCULTOS */
    .menu_desktop{
        display: none;
    }

    /* ===========================  carrossel de apresentação de produtos com legenda */

    .container_carrossel_produtos {
        flex-direction: column;
        width: 100vw; /* 90% da largura da tela */
        margin: 0 auto; /* Centraliza o carrossel */
        display: flex;
        justify-content: center;
        
    }
    .carrossel_produtos_title {
        font-family: var(--fonte-principal);
        color: var(--azul-principal);
        font-size: 28px;
        text-align: center;
        padding: 2rem 8rem;
        font-weight: 400;
    }
    
    .swiper2 {
        margin-top: 2rem;
        width: 100%; /* O carrossel vai ocupar todo o espaço do container */
        height: auto;
    }
    
    .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .swiper-slide img {
        width: 100%; /* Para garantir que a imagem ocupe toda a largura do slide */
        height: auto;
        object-fit: contain; /* Mantém a proporção da imagem */
    }
    
    .swiper2-legend {
        text-align: center;
        font-size: 24px;
        color: var(--azul-principal);
        font-family: var(--fonte-principal);
        margin-top: 10px; /* Espaçamento entre a imagem e a legenda */
    }
    .swiper2-pagination{
        display: flex;
        align-items: center;
        justify-content: center;
    }


    /* ==================================== CONTAINER ÚLTIMAS OBRAS ====================== */
    .container_ultimasobras {
        display: flex;
        flex-direction: column;
        background-image: url(./assets/background/bg_ultimasobras.png);
        width: 100vw;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }
    .logo_obras {
        width: 50px;
        padding-top: 3rem;
    }
    .ultimasobras_title {
        font-family: var(--fonte-principal);
        font-size: 22px;
        color: var(--branco-fundo);
        font-weight: 500;
    }
    .obras_local {
        text-transform: uppercase;
        font-family: var(--fonte-principal);
        color: var(--branco-fundo);
        text-decoration: underline;
        font-size: 18px;
        font-weight: 300;
    }
    .obras_imagens {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        row-gap: 3rem;
    }
    .obras_imagens img{
        width: 50vw;
        border: 2px solid var(--branco-fundo);
    }
}


/* TODO ======== DESKTOP / MIN 1201PX  ============================ */
/* TODO ================================================================= */
@media screen and (min-width: 1201px) {
    body {
        overflow-x: hidden;
    }
    /* ------------------ HEADER -------------- */
    .container_header {
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: var(--branco-fundo);
    }

    .header_topo {
        background-color: var(--azul-principal);
        height: 79px;
    }

    .header_menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 120px;

    }

    .header_logo img {
        max-height: 60px;
    }

    /* Estilos do menu hamburger */
    .menu-toggle {
        background: none;
        border: none;
        cursor: pointer;
        display: none;
        /* Só vai aparecer no mobile */
        z-index: 1001;
        /* Para ficar acima do menu */
    }

    .menu-icon {
        width: 25px;
        height: 3px;
        background-color: #002366;
        display: block;
        position: relative;
        transition: all 0.3s ease-in-out;
    }

    .menu-icon::before,
    .menu-icon::after {
        content: '';
        width: 25px;
        height: 3px;
        background-color: #002366;
        position: absolute;
        left: 0;
        transition: all 0.3s ease-in-out;
    }

    .menu-icon::before {
        top: -8px;
    }

    .menu-icon::after {
        top: 8px;
    }

    /* Transformar em X quando ativo */
    .menu-toggle.active .menu-icon {
        background-color: transparent;
    }

    .menu-toggle.active .menu-icon::before {
        transform: rotate(45deg);
        top: 0;
    }

    .menu-toggle.active .menu-icon::after {
        transform: rotate(-45deg);
        top: 0;
    }

    /* Estilos do menu */
    .menu {
        position: absolute;
        top: 120px;
        right: 0;
        background-color: var(--azul-principal);
        width: 100%;
        height: 50vh;
        display: none;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    .menu ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 2rem;
        list-style: none;
        width: 100vw;


    }

    .menu ul li a {
        color: var(--branco-fundo);
        text-decoration: none;
        text-transform: uppercase;
    }

    .menu-toggle {
        display: block;
        /* Mostra o ícone de menu hamburger no mobile */
    }

    .menu.active {
        display: flex;
    }
    /* ======================= HEADER DO DESKTOP */
    .menu_desktop {
        display: flex;
        column-gap: 4rem;
        padding-right: 3rem;
        
    }
    .menu_desktop li{
        list-style: none;
        
        
    }
    .menu_desktop a{
        text-decoration: none;
        color: var(--azul-principal);
        font-size: 22px;
        font-family: var(--fonte-principal);
        
        
    }

    /* Carrossl inicial  */
    .swiper {
        width: 100vw;
    }

    .swiper-caption {
        text-align: center;
        color: var(--azul-principal);
        font-size: 1.2rem;
        margin-top: 10px;
    }


    /* Apresentação fotos página inicial */
    .imagens_apresentacao_inicio {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        width: 100vw;
        align-items: center;
        row-gap: 1rem;
    }

    .imagens_apresentacao_inicio img {
        width: 75vw;
    }

    /* Container quem somos */
    .container_quemsomos {
        display: flex;
        flex-direction: column;
        background-image: url(./assets/background/bg_quemsomos.png);
        width: 100vw;

        align-items: center;
        justify-content: center;
    }

    .quemsomos_title {
        font-family: var(--fonte-principal);
        color: var(--branco-fundo);
        font-size: 36px;
        padding-top: 1rem;
    }

    .quemsomos_txt {
        font-family: var(--fonte-principal);
        color: var(--branco-fundo);
        font-size: 26px;
        text-align: left;
        width: 80vw;
        font-weight: 300;
    }

    .btn_quemsomos {
        border: 4px solid rgba(82, 193, 232, 0.32);
        background: rgba(18, 156, 204, 0.56);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: var(--branco-fundo);
        padding: 0.2rem 1.5rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        font-family: var(--fonte-principal);
        font-size: 24px;
    }
    .btn_quemsomos:hover {
        cursor: grab;
        scale: 1.1;
    }

    /* ITENS OCULTOS */
    .menu-toggle {
        display: none;
    }


    /* ===========================  carrossel de apresentação de produtos com legenda */

    .container_carrossel_produtos {
        flex-direction: column;
        width: 100vw; /* 90% da largura da tela */
        margin: 0 auto; /* Centraliza o carrossel */
        display: flex;
        justify-content: center;
        
    }
    .carrossel_produtos_title {
        font-family: var(--fonte-principal);
        color: var(--azul-principal);
        font-size: 32px;
        text-align: center;
        padding: 3rem 10vw;
        font-weight: 400;
    }
    
    .swiper2 {
        margin: 0 auto;
        width: 50%; /* O carrossel vai ocupar todo o espaço do container */
        height: auto;
        
    }
    
    .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .swiper-slide img {
        width: 100%; /* Para garantir que a imagem ocupe toda a largura do slide */
        height: auto;
        object-fit: contain; /* Mantém a proporção da imagem */
    }
    
    .swiper2-legend {
        text-align: center;
        font-size: 26px;
        color: var(--azul-principal);
        font-family: var(--fonte-principal);
        margin-top: 10px; /* Espaçamento entre a imagem e a legenda */
    }
    .swiper2-pagination{
        display: flex;
        align-items: center;
        justify-content: center;
    }


    /* ==================================== CONTAINER ÚLTIMAS OBRAS ====================== */
    .container_ultimasobras {
        display: flex;
        flex-direction: column;
        background-image: url(./assets/background/bg_ultimasobras.png);
        width: 100vw;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }
    .logo_obras {
        width: 100px;
        padding-top: 3rem;
    }
    .ultimasobras_title {
        font-family: var(--fonte-principal);
        font-size: 32px;
        color: var(--branco-fundo);
        font-weight: 500;
    }
    .obras_local {
        text-transform: uppercase;
        font-family: var(--fonte-principal);
        color: var(--branco-fundo);
        text-decoration: underline;
        font-size: 24px;
        font-weight: 300;
    }
    .obras_imagens {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        align-items: center;
        column-gap: 5rem;
        justify-content: center;
        row-gap: 5rem;
    }
    .obras_imagens img{
        width: 30vw;
        border: 2px solid var(--branco-fundo);
    }
    
}